.alinea2{
    float: right;
    position: relative;

    h2{
        position: absolute;
        right: 0;
        top: -50%;
    }

    img{
        padding-top: 2%;
        width: 57%;
        float: right;
    }

    .alinea2_rect{    
        position: absolute;
        width: 50%;
        right: 40%;
        top: 20%;
    }

    p{
        line-height: 30px;
        font-size: 1.5rem;
        width: 35%;
        margin-top: 25%;
    }
    
}