.alinea2{
    float: right;
    position: relative;
    margin-top: 60vw;
    margin-bottom: 80vw;

    h2{
        position: absolute;
        right: 0;
        top: -55%;
    }

    img{

        width: 57%;
        float: right;
    }

    .alinea2_rect{    
        position: absolute;
        width: 50%;
        right: 40%;
        bottom: 70%;
    }

    p{
        line-height: 30px;
        font-size: 1.5rem;
        width: 35%;
        margin-top: 20%;
    }
    
}