body{
    background-color: #0C0404;
    font-family: 'Montserrat';
    color: #FCF9C2;
}

h2{
    font-size: 2.5rem;
    font-weight: bold;
}

p{
    line-height: 30px;
    font-size: 1.5rem;    
}

.page_wrapper{
    width: 80%;
    margin: 0 auto;
}

.spacing{
    position: relative;
    height: 1000px;
}