#slider{
    display: flex;
    justify-content: center;
}

#vis{
    display: flex;
    align-items: center;
    justify-content: center;
}

.ticks {
    font-size: 10px;
}

.track,
.track-inset,
.track-overlay {
    stroke-linecap: round;
}

.track {
    stroke: rgb(128, 17, 0);
    stroke-opacity: 0.3;
    stroke-width: 10px;
}

.track-inset {
    stroke: #FCF9C2;
    stroke-width: 8px;
}

.track-overlay {
    pointer-events: stroke;
    stroke-width: 50px;
    stroke: transparent;
}


.handle {
    fill: rgb(128, 17, 0);
    stroke: rgb(128, 17, 0);
    stroke-opacity: 0.5;
    stroke-width: 1.25px;
    opacity: .8;

}


.label{
    font-weight: bold;
}


#play-button {
    position: absolute;
    background: #FCF9C2;
    color: #0C0404;
    border-radius: 5px;
    border: none;
    padding: 10px 25px;
    cursor: pointer;
}

#play-button:hover {
    background-color: #696969;
    color: #FCF9C2;
}

text{
    fill: #FCF9C2;
    font-size: 0.9rem;

}