.back_button{
    position: absolute;
    width: 1.5vw;
    padding: 20px;

    a{
        padding: 10px;
    }

    g{
        fill: #FCF9C2;
    }
}

#dataviz{
    display: flex;
    justify-content: center;
    align-items: center;
    
.map{
    .country_wrapper{
        fill: #FCF9C2;
    }

    path{
        stroke: #0C0404;
        stroke-width: 1px;

    }
}
}